.DS_Store
Thumbs.db
.env
.venv/
__pycache__/
*.pyc
node_modules/
dist/
target/
.idea/
.vscode/
.next/
out/

# Build artifacts
build/
*.toc
*.pyz
*.pkg
base_library.zip
warn-*.txt
xref-*.html

# Built executables
binaries/
*.exe
